#menuIcon {
  background-image: url("menuButton.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 3rem;
  width: 3rem;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 10;
  border-radius: 1.5rem;
}

.menuIconHighlight {
  background-color: antiquewhite;
}

.menuIconUnhighlight {
  background-color: none;
}

#menuPanel {
  width: 15rem;
  background-color: antiquewhite;
  border-color: black;
  border-radius: 1rem;
  display: none;
  right: 2rem;
  top: 2rem;
  position: absolute;
  z-index: 9;
}

#menuPanel > p {
  padding-left: 0.5rem;
}

.centeringContainer {
  text-align: center;
}

#shinyBall {
  display: none;
}

#startButton {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  margin: 0.5rem;
}

.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 15px;
  border-radius: 5px;
  background: gray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}
